# ln -s ~/env/dotfiles/home/ssh_config ~/.ssh/config

Host obi
    HostName 192.168.1.124

Host eos
    HostName 192.168.1.13

Host luna
    HostName 192.168.1.35

Host nyx
    HostName 192.168.1.208

Host roku
    HostName 192.168.1.185

