/idea/config/componentVersions/
/idea/config/tasks/
/idea/config/port

idea/config/options/appComponentVersions.xml
idea/config/options/feature.usage.statistics.xml
idea/config/options/jdk.table.xml
idea/config/options/options.xml
idea/config/options/path.macros.xml
idea/config/options/project.default.xml
idea/config/options/runner.layout.xml
idea/config/options/statistics.application.usages.xml
idea/config/options/usage.statistics.xml
idea/config/options/vcs.xml
idea/config/options/window.manager.xml

